---
layout: archive
permalink: /news-archive/
title: "News"
author_profile: true
redirect_from:
  - /news/
---

{% include base_path %}

{% for work in site.data.news %}
  <div id="container">
    <div id="left">
      &#128187; <b>{{ work.title }}</b><br>
      ({{ work.date }})<br>
      {{ work.text }}<br>
      <img 
        src={{ work.image }} 
        alt="Sample Image" 
        class="image-left" 
        width="50"
      >
    </div>
    <div class="clear"></div>
  </div>
  <hr>
{% endfor %}



