---
layout: archive
permalink: /news-archive/
title: "News"
author_profile: true
redirect_from:
  - /news/
---

{% include base_path %}

<head>
    <style>
        .image-right {
            float: right;
            margin-right: 15px;
        }
    </style>
</head>

{% for work in site.data.news %}
  <div id="container">
    <div id="left">
      &#128187; <b>{{ work.title }}</b><br>
      ({{ work.date }})<br>
      {{ work.text }}
      {{ work.image }} <br>
    </div>
    <div class="clear"></div>
  </div>
  <hr>
{% endfor %}



