---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find our articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}


{% include base_path %}

<br>
<br>

<h2>Preprints</h2>
<br>

{% for work in site.data.preprints %}
  <div id="container">
    <div id="left">
        <b>{{ forloop.rindex }}.</b>
        {{ work.title }}<br>
        {{ work.authors }}<br>
        <i>{{ work.journal }}</i>. <a href="{{ work.url }}">DOI</a>. <i>{{ work.other }}</i>
        <br>
    </div>
    <div class="clear"></div>
  </div>
  <hr>
{% endfor %}

<br>
<br>

<h2>Peer-reviewed</h2>
<br>

{% for work in site.data.publications %}
  <div id="container">
    <div id="left">
        <b>{{ forloop.rindex }}.</b>
        {{ work.title }}<br>
        {{ work.authors }}<br>
        <i>{{ work.journal }}</i>. ({{ work.date }}) <a href="{{ work.url }}">DOI</a>. <i>{{ work.other }}</i>
        <br>
    </div>
    <div class="clear"></div>
  </div>
  <hr>
{% endfor %}

<br>
<br>

<h2>Book Chapters</h2>
<br>

{% for work in site.data.books %}
  <div id="container">
    <div id="left">
        <b>{{ forloop.rindex }}.</b>
        {{ work.title }} in {{ work.booktitle }}<br>
        {{ work.authors }}.<br>
        Chapter: {{ work.chapter }}. ({{ work.date }}) <a href="{{ work.url }}">DOI</a>. {{ work.other }}
        <br>
    </div>
    <div class="clear"></div>
  </div>
  <hr>
{% endfor %}



